<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
     <div class="container" style="text-align: center; margin-top: 40px;">
        <h1>Cadastre-se</h1>
       {% if messages %}
       <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
       {% endif %}
        <br>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <p><label>Usuário:</label></p>
            <input type="text" name="usuario" placeholder="Usuário...">
            <br>
            <br>
            <br>
            <p><label>Senha:</label></p>
            <input type="password" name="senha" placeholder="Senha...">
            <br>
            <br>
            <p><button class="btn btn-success" type="submit">Criar Conta</button></p>
        </form>
    </div>
</body>
</html>